<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">PS2</a>
    <button class="navbar-toggler"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            [attr.aria-expanded]="!isMenuCollapsed"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         [ngbCollapse]="isMenuCollapsed"
         id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/games">
            <i class="fas fa-home-alt"></i>&nbsp;Főoldal
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/games/my-games">
            <i class="fas fa-gamepad"></i>&nbsp;Játékaim
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/games/my-returned-games">
            <i class="fas fa-circle-check"></i>&nbsp;Visszajuttatott játékok
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/games/my-borrowed-games">
            <i class="fas fa-ticket-simple"></i>&nbsp;Kikölcsönzött játékok
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center">
        <button class="btn btn-link" type="button" (click)="logout()">
          <i class="fas fa-door-open"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
