<h2>Kikölcsönzött játékaim</h2>
<hr>
<div class="d-flex flex-column col-6" *ngIf="selectedGame">
  <h3>Visszajuttatás és értékelés</h3>
  <div class="d-flex flex-column col-12">
    <div class="row mb-2">
      <div class="col-4"><strong>Cím:</strong></div>
      <div class="col-8">{{ selectedGame.title }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Kiadó:</strong></div>
      <div class="col-8">{{ selectedGame.publisher }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Megjelenés:</strong></div>
      <div class="col-8">{{ selectedGame.releaseDate }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-4"><strong>Értékelés:</strong></div>
      <div class="col-8">{{ selectedGame.rate }}</div>
    </div>
  </div>
  <div>
    <hr>
    <div class="col-12">
      <form class="row g-3">
        <div class="d-flex gap-3">
          <input [(ngModel)]="reviewRequest.score" type="range" id="rate" name="rate" class="form-range w-25" min="0" max="5" step="0.5">
          <app-rating [rating]="reviewRequest.score || 0"></app-rating>
          {{ reviewRequest.score }}
        </div>
        <div class="col-12">
          <label for="review" class="form-label">Értékelés:</label>
          <textarea
            [(ngModel)]="reviewRequest.comment"
            (input)="reviewWarning = undefined"
            rows="4"
            class="form-control"
            id="review"
            name="review"
            placeholder="Mit gondoltál erről a játékról?"
            maxlength="255"
          ></textarea>
          <div *ngIf="reviewWarning" class="alert alert-warning mt-2">
            {{ reviewWarning }}
          </div>
          <div class="d-flex justify-content-between align-items-center mt-1">
            <small>
              {{ reviewRequest.comment?.length || 0 }} / 255 karakter
            </small>
          </div>
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button
            (click)="returnGame(true)"
            type="button"
            class="btn btn-outline-primary"
          >
            <i class="fas fa-save">&nbsp;</i>Játék értékelése és visszajuttatása
          </button>
          <button (click)="returnGame(false)" type="submit" class="btn btn-outline-success">
            <i class="fa-solid fa-paper-plane"></i>&nbsp;Visszajuttatás értékelés nélkül
          </button>
          <button (click)="selectedGame = undefined" class="btn btn-link text-danger">
            <i class="fas fa-times"></i>&nbsp;Mégsem
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!selectedGame">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cím:</th>
      <th scope="col">Kiadó:</th>
      <th scope="col">Megjelenés dátuma:</th>
      <th scope="col">Értékelés:</th>
      <th scope="col">Állapot:</th>
    </tr>
    </thead>
    <tbody>
    <tr
    *ngFor="let game of borrowedGames.content; let index = index">
    <th scope="row">{{index+1}}</th>
      <td>{{game.title}}</td>
      <td>{{game.publisher}}</td>
      <td>{{game.releaseDate}}</td>
      <td><i class="fas fa-star text-warning"></i>{{game.rate}}</td>
      <td>
        <div class = "d-flex gap-2">
          <i *ngIf="game.returned" class="fa-solid fa-paper-plane text-success"></i>
          <i *ngIf="!game.returned" (click)="returnBorrowGame(game)" class="cursor-pointer fa-regular fa-paper-plane text-primary"></i>
          <i  class="fa-solid fa-circle-check" [class.text-success]="game.returnApproved"></i>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            (click)="goToFirstPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page == 0"
          >
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToPreviousPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page == 0"
          >
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let _ of [].constructor(this.borrowedGames.totalPages); let pageIndex = index"
        >
          <a
            (click)="goToPage(pageIndex)"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.active]="page == pageIndex"
          >
            {{pageIndex + 1}}
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToNextPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToLastPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
