<h2>Visszajuttatott játékaim</h2>
<hr>
<div
  *ngIf="message"
  class="alert"
  [class.alert-danger]="level === 'error'"
  [class.alert-success]="level === 'success'"
>
  {{message}}
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cím:</th>
      <th scope="col">Kiadó:</th>
      <th scope="col">Megjelenés dátuma:</th>
      <th scope="col">Értékelés:</th>
      <th scope="col"><i class="fas fa-cogs"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let game of returnedGames.content; let index = index">
      <th scope="row">{{index+1}}</th>
      <td>{{game.title}}</td>
      <td>{{game.publisher}}</td>
      <td>{{game.releaseDate}}</td>
      <td><i class="fas fa-star text-warning"></i>{{game.rate}}</td>
      <td>
        <div class = "d-flex gap-2">
          <i *ngIf="game.returned" class=" fa-solid fa-paper-plane text-success"></i>
          <i *ngIf="!game.returned" class=" fa-regular fa-paper-plane text-danger"></i>
          <i  class="fa-solid fa-circle-check" (click)="approveGameReturn(game)" [class.cursor-pointer]="!game.returnApproved" [class.text-success]="game.returnApproved" [class.text-primary]="!game.returnApproved"></i>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            (click)="goToFirstPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page == 0"
          >
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToPreviousPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="page == 0"
          >
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let _ of [].constructor(this.returnedGames.totalPages); let pageIndex = index"
        >
          <a
            (click)="goToPage(pageIndex)"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.active]="page == pageIndex"
          >
            {{pageIndex + 1}}
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToNextPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToLastPage()"
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            [class.disabled]="isLastPage"
          >
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
