<div
  class="card border-3"
  style="width: 20rem;"
  [class.border-success]="game.shareable"
  [class.border-warning]="game.archived"
>
  <div class="image-border mb-3">
    <img [src]="gameCover" class="card-img-top game-cover-img" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title-publisher fs-6 fw-bold mb-1" [attr.title]="game.title">
      <i class="fa-solid fa-gamepad"></i>
      <span class="text-truncate-multiline">{{game.title}}</span>
    </h5>

    <h5 class="card-title-publisher fs-6 text-secondary mb-1" [attr.title]="game.publisher">
      <i class="fa-solid fa-users"></i>
      <span class="text-truncate-multiline">{{game.publisher}}</span>
    </h5>
    <h6 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa-solid fa-calendar"></i>&nbsp;{{game.releaseDate}}</h6>
    <h6 class="card-subtitle fs-6 text-secondary"><i class="fa-solid fa-user-check"></i>&nbsp;{{game.owner}}</h6>
    <hr>
    <div class="card-text description-scroll">{{game.description}}</div>
  </div>
  <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
    <div class="d.flex gap-2">
        <app-rating [rating]="game.rate || 0"></app-rating>
        <span class="fw-bold" *ngIf="game.rate || 0 > 0">
          {{game.rate}}
        </span>
    </div>
    <div class="d-flex gap-2" *ngIf="!manage">
      <i (click)="onShowDetails()" class="fas fa-circle-info text-primary"></i>
      <i (click)="onBorrow()" class="fas fa-plus text-primary"></i>
    </div>
    <div class="d-flex gap-2" *ngIf="manage">
      <i (click)="onEdit()" class="fas fa-edit text-success"></i>
      <i (click)="onShare()" class="fas fa-share-nodes text-primary"></i>
      <i (click)="onArchive()" class="fas fa-archive text-danger"></i>
    </div>
  </div>
</div>
