<div class="p-2">
  <h2>Játék frissítése</h2>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length">
  <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <div class="d-flex gap-2">
    <div class="col-3">
      <img class="rounded-1" width="100%" height="100%" [src]="selectedPicture || DEFAULT_IMAGE_BASE64" alt="...">
      <div class="mt-2">
        <input
          (change)="onFileSelected($event)"
          class="form-control"
          type="file"
          id="formFile"
          accept="image/*"
        >
        <button type="button" class="btn btn-outline-danger btn-sm mt-2" (click)="removeCover()" *ngIf="selectedPicture && selectedPicture !== DEFAULT_IMAGE_BASE64">
          <i class="fas fa-trash"></i> Kép eltávolítása
        </button>
      </div>
    </div>
    <div class="col-9">
      <form class="row g-3">
        <div class="col-12">
          <label for="title" class="form-label">Cím</label>
          <input [(ngModel)]="gameRequest.title" name="title" type="text" class="form-control" id="title" placeholder="Játék címe" maxlength="255">
        </div>
        <div class="col-6">
          <label for="publisher" class="form-label">Kiadó</label>
          <input [(ngModel)]="gameRequest.publisher" name="publisher" type="text" class="form-control" id="publisher" placeholder="Kiadó neve" maxlength="255">
        </div>
        <div class="col-6">
          <label for="releaseDate" class="form-label">Megjelenés dátuma</label>
          <input [(ngModel)]="gameRequest.releaseDate" name="relaseDate" type="date" class="form-control" id="releaseDate" placeholder="Valami">
        </div>
        <div class="col-12">
          <label for="title" class="form-label">Leírás</label>
          <textarea [(ngModel)]="gameRequest.description" name="description" rows="4" class="form-control" id="description" placeholder="Játék leírása" maxlength="255"></textarea>
          <div class="d-flex justify-content-between align-items-center mt-1">
            <small>
              {{gameRequest.description?.length || 0}} / 255 karakter
            </small>
          </div>
        </div>
        <div class="col-12">
          <input [(ngModel)]="gameRequest.shareable" name="shareable" class="form-check-input" type="checkbox" id="share">
          <label for="share" class="form-check-label">Megosztható</label>
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button (click)="saveGame()" type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save"></i>&nbsp;Mentés
          </button>
          <a routerLink="/games/my-games" class="btn btn-link text-danger">
            <i class="fas fa-times"></i>&nbsp;Mégsem
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
